*{
  box-sizing: border-box;
}

.partner{
  width: 100%;
}

.pheader{
  width: 100%;
  height: 500px; /* Should be removed. Only for demonstration */
  background-color: #FFD159;
  background-size: cover;
  background-repeat: no-repeat;
}

  .pcolumn {
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px; /* Should be removed. Only for demonstration */
}

.pcenter {
  margin: auto;
  padding: 50px;
  width: 60%;
  height: 95%;
  padding: 10px;
}

.pcenter h2{
  font-size: 30px;
  margin-top: 98px;
  text-align: center;
}

.pcenter div{
  text-align: center;
}

.partpic{
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 98px;
    background-size: cover;
    background-repeat: no-repeat;
  
}
