  *{
    box-sizing: border-box;
  }
  
  .create{
    width: 100%;
  }

  .cheader{
    width: 100%;
    height: 500px; /* Should be removed. Only for demonstration */
    background-color: #FFD0FA;
    background-size: cover;
    background-repeat: no-repeat;
  }

    .ccolumn {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
  }
  
  .center {
    margin: auto;
    padding: 50px;
    width: 60%;
    height: 95%;
    padding: 10px;
  }

  .center h2{
    margin-top: 98px;
    text-align: center;
    font-size: 30px;
  }

  .center div{
    text-align: center;
  }
  
  .createpic{
      height: 250px;
      width: 250px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 98px;
      background-size: cover;
      background-repeat: no-repeat;
    
  }
