*{
    box-sizing: border-box;
  }

  .contributor{
    width: 100%;
    margin-top: 50px;
}

.coheader{
    margin: auto;
    width: 75%;
    padding: 10px;
    height: 700px; /* Should be removed. Only for demonstration */
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 80px;
}

.cocolumn{
    float: left;
    width: 50%;
    padding: 10px;
    height: 640px;
    margin: auto;
    margin-top: 25px;
}

.cocenter{
    margin: auto;
    padding: 50px;
    width: 75%;
    height: 95%;
    padding: 10px;
}